<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
      <a mat-list-item href="#">Link 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>exempleTest</span>
      <span class="spacer"></span>
      <a class="whitelink" routerLink="/sign-up"  *ngIf = "!(auth.getUser() | async)">Sign-Up</a>
      <a class="whitelink" routerLink="/login" *ngIf = "!(auth.getUser() | async)">Login</a>
      <a class="whitelink1" (click) = "auth.logout()" *ngIf = "(auth.getUser() | async)">LogOut</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
