<mat-card>
  <h1>{{type}}</h1>
  <form #customerform="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <p>
      <mat-form-field>
          <input 
              matInput placeholder="Name"
              [(ngModel)] = "name"
              name = "name"
              required>
      </mat-form-field> 
      </p>
      <p>
      <mat-form-field>
              <input 
                  matInput placeholder="Education years"
                  [(ngModel)] = "education"
                  name = "education"
                  type="number"
                  required>
      </mat-form-field>
    </p>  
    <p>
      <mat-form-field>
              <input 
                  matInput placeholder="Income"
                  [(ngModel)] = "income"
                  name = "income"
                  type="number"
                  required>
      </mat-form-field>
    </p>                       
      <div >
          <button mat-raised-button (click) = "updateParent()" >{{buttonText}}</button>
          <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
      </div>
    </div>
  </form>
  </mat-card>